<%= form_for(@calculation, html: { class: 'form-horizontal'} ) do |f| %>
    <% if @calculation.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@calculation.errors.count, "error") %> prohibited this calculation from being saved:</h2>

            <ul>
                <% @calculation.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :library_code, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
            <%= f.text_field :library_code, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :collection_code, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
            <%= f.text_field :collection_code, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :call_num_start, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
            <%= f.text_field :call_num_start, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :call_num_end, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
            <%= f.text_field :call_num_end, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :travel_time, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
            <%= f.number_field :travel_time, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :avg_feet_moved_per_trip, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
            <%= f.number_field :avg_feet_moved_per_trip, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :load_time, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
            <%= f.number_field :load_time, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :unload_time, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
            <%= f.number_field :unload_time, class: 'form-control' %>
        </div>
    </div>
    <div class="actions">
        <%= f.submit 'Calculate', class: 'btn btn-primary' %>
    </div>
<% end %>
