<h1>Previous Calculations</h1>

<table class="table">
  <tr>
    <th>Library code</th>
    <th>Collection code</th>
    <th>Call num start</th>
    <th>Call num end</th>
    <th>Travel time</th>
    <th>Result</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @calculations.each do |calculation| %>
  <tr>
    <td><%= calculation.library_code %></td>
    <td><%= calculation.collection_code %></td>
    <td><%= calculation.call_num_start %></td>
    <td><%= calculation.call_num_end %></td>
    <td><%= calculation.travel_time %></td>
    <td><%= link_to 'Result', calculation_result_path(calculation, calculation.result) if calculation.result %></td>
    <td><%= link_to 'Recalculate', recalculate_calculation_result_path(calculation, calculation.result) %></td>
    <td><%= link_to 'Edit', edit_calculation_path(calculation) %></td>
    <td><%= link_to 'Destroy', calculation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Calculation', new_calculation_path %>
