<h1 class="shift-title">Shift Plan</h1>
<div class="well well-lg">
    <h2 data-toggle="collapse" data-target="#input-data">Input</h2>
    <dl id="input-data" class="dl-horizontal collapse in">
      <div class="row">
        <% unless @result.estimated_feet %>
          <div class="col-md-6">
            <dt>Library code</dt><dd><%= @calculation.library_code %></dd>
            <dt>Collection code</dt><dd><%= @calculation.collection_code %></dd>
            <dt>Call num start</dt><dd><%= @calculation.call_num_start %></dd>
            <dt>Call num end</dt><dd><%= @calculation.call_num_end %></dd>
          </div>
        <% end %>
        <div class="col-md-6">
          <% if @result.estimated_feet %>
            <dt>Estimated Feet</dt><dd><%= number_field_tag :estimated_feet, @result.estimated_feet, id: 'estimated-feet', class: 'real-time form-control', in: (0..1000), step: 0.1 %></dd>
          <% end %>
          <dt>Travel time</dt><dd><%= number_field_tag :travel_time, @calculation.travel_time, id: 'travel-time', class: 'real-time form-control', in: (0..1000), step: 0.1 %></dd>
          <dt>Feet moved per trip</dt><dd><%= number_field_tag :cm_per_trip, @calculation.avg_feet_moved_per_trip, id: 'cm-per-trip', class: 'real-time form-control', in: (0..1000), step: 0.1 %></dd>
          <dt>Load time</dt><dd><%= number_field_tag :load_time, @calculation.load_time, id: 'load-time', class: 'real-time form-control', in: (0..1000), step: 0.1 %></dd>
          <dt>Unload time</dt><dd><%= number_field_tag :unload_time, @calculation.unload_time, id: 'unload-time', class: 'real-time form-control', in: (0..1000), step: 0.1 %></dd>
        </div>
      </div>
    </dl>
    <h2>Results</h2>
    <h3 class="overview text-danger" id="total-time"></h3>
    <% unless @result.estimated_feet %><h3 class="overview" id="total-items">~<%= @result.total_records %> items</h3><% end %>
    <h3 class="overview" id="total-feet">~<span id="feet"><%= @result.total_width_in_ft.round(1) %></span> linear feet</h3>
    <h3 class="overview" id="total-trips"></h3>
    <h4>Visualized</h4>
    <div id="shift-plan">
        <div class="actions"></div>
        <div class="trips"></div>
        <div class="total-trip">&nbsp;</div>
    </div>
</div>

<% unless @result.estimated_feet %>

<hr />
<h2 data-toggle="collapse" data-target="#charts" class="toggler"><span class="text-success glyphicon glyphicon-plus"></span>Charts</h2>
<div id="charts" class="well well-lg collapse">
    <h3>Record types</h3>
    <%= pie_chart format_breakdown(@result) %>
    <h3>Distribution of pages per record</h3>
    <%= column_chart distribution(@result.pages, (0..1000).step(30).to_a) %>
    <h3>Distribution of volumes per set</h3>
    <%= column_chart distribution(@result.multi_volumes, (0..50).step(1).to_a) %>
    <h3>Distribution of items per serial</h3>
    <%= column_chart distribution(@result.serials, (0..100).step(1).to_a) %>
</div>
<hr />
<h2 data-toggle="collapse" data-target="#lib-cloud-data" class="toggler"><span class="text-success glyphicon glyphicon-plus"></span>Library Cloud Data</h2>
<dl id="lib-cloud-data" class="well well-lg dl-horizontal collapse">
    <dt>Total Records</dt><dd><%= @result.total_records %></dd>
    <dt>Total Books</dt><dd><%= @result.pages.count %></dd>
    <dt>Total Serials</dt><dd><%= @result.serials.count %></dd>
    <dt>Total Multi-volume works</dt><dd><%= @result.multi_volumes.reduce(:+) %></dd>
    <dt>Total Pages</dt><dd><%= @result.total_pages %></dd>
    <dt>Records without pages</dt><dd><%= @result.records_without_pages %></dd>
    <%= link_to 'Recalculate', recalculate_calculation_result_path(@calculation, @result) %>
</dl>

<hr />
<h2 data-toggle="collapse" data-target="#derived" class="toggler"><span class="text-success glyphicon glyphicon-plus"></span>Derived Stats</h2>
<dl id="derived" class="well well-lg dl-horizontal collapse">
    <dt>Total page width</dt>
    <dd><%= @result.pages_to_cm.round(2) %>cm</dd>
    <dt>Mean pages per record<dt>
    <dd><%= @result.mean_pages %></dd>
    <dt>Median pages per record<dt>
    <dd><%= @result.median_pages %></dd>
    <dt>Mean record width</dt>
    <dd><%= @result.mean_width.round(2) %>cm</dd>
    <dt>Median record width</dt>
    <dd><%= @result.median_width.round(2) %>cm</dd>
    <dt>Serial width assuming <%= @result.cm_per_serial.round(2) %>cm per serial</dt>
    <dd><%= @result.serial_width.round(2) %>cm</dd>
    <dt>Multi-volume width assuming <%= @result.cm_per_volume.round(2) %>cm per volume<dt>
    <dd><%= @result.multi_constant_width.round(2) %>cm</dd>
    <dt>Multi-volume width using mean record width (<%= @result.mean_width.round(2) %>)<dt>
    <dd><%= @result.multi_mean_width.round(2) %>cm</dd>
    <dt>Multi-volume width using median record width (<%= @result.median_width.round(2) %>)<dt>
    <dd><%= @result.multi_median_width.round(2) %>cm</dd>
    <dt>Total Width<dt>
    <dd><%= @result.total_width.round(2) %>cm (<%= @result.total_width_in_ft.round(2) %>ft) (<%= @result.total_width_in_inches.round(2) %>")</dt>
</dl>
<% end %>


<script type="text/javascript">
    var totalWidth = <%= @result.total_width.round(2) %>, 
        cmPerTrip = <%= ft_to_cm(@calculation.avg_feet_moved_per_trip) %>,
        loadTime = <%= @calculation.load_time %>,
        travelTime = <%= @calculation.travel_time %>,
        unloadTime = <%= @calculation.unload_time %>,
        shiftPlan = generateShiftPlan(totalWidth, cmPerTrip, loadTime, travelTime, unloadTime);
    graphShiftPlan(shiftPlan);
    $('.real-time').on('change', function() {
            if ($('#estimated-feet').length > 0) {
                totalWidth = parseFloat($('#estimated-feet').val()) * 12 * 2.54;
                $('#feet').text($('#estimated-feet').val());
            }
            cmPerTrip = parseFloat($('#cm-per-trip').val()) * 12 * 2.54;
            loadTime = parseFloat($('#load-time').val());
            travelTime = parseFloat($('#travel-time').val());
            unloadTime = parseFloat($('#unload-time').val());
            var shiftPlan = generateShiftPlan(totalWidth, cmPerTrip, loadTime, travelTime, unloadTime);
            graphShiftPlan(shiftPlan);
    });
</script>
